---
export interface Props {
  title: string;
  page?: string;
  color: string;
  image: string;
}
import "../styles/hero.scss";
// import headerBgAVIF from "/assets/avif/reiki.avif";
import headerBg from "/assets/webp/reiki.webp";
// import headerBg from "/assets/reiki.jpeg";
// import headerBg from "/assets/amanda-massage.jpeg";
import logo from "/assets/webp/APPrimaryOrange.webp";

const { title, page, color, image } = Astro.props;
const homepage = page === "homepage" ? true : false;
---

<section class="hero">
  <div class="header-bg">
    <!-- <img src={headerBg} alt="header background image" loading="eager" /> -->
    <picture>
      <!-- <source
        type="image/avif"
        srcset="
    /assets/avif/reiki.avif?width=100 100w,
    /assets/avif/reiki.avif?width=200 200w,
    /assets/avif/reiki.avif?width=400 400w,
    /assets/avif/reiki.avif?width=800 800w,
    "
      /> -->
      <img
        src={image}
        alt="header background image"
        loading="eager"
        role="presentation"
        fetchpriority="high"
        decoding="async"
      />
    </picture>
  </div>

  <div class="container">
    <div class="logo-container">
      <h1 class={homepage ? "hidden" : color}>{title}</h1>
      <!-- <h1 class={color}>{title}</h1> -->
      {
        homepage && (
          <>
            <picture>
              <source
                type="image/avif"
                srcset="
            /assets/avif/logo.avif?width=100 100w,
            /assets/avif/logo.avif?width=200 200w,
            /assets/avif/logo.avif?width=400 400w,
            /assets/avif/logo.avif?width=800 800w,
            "
              />
              <img
                src={logo}
                alt="hero logo"
                role="presentation"
                fetchpriority="high"
                decoding="async"
                class="logo-image"
              />
            </picture>
            <a
              href="https://amandaprokop.janeapp.com/#staff_member/1"
              target="_blank"
              rel="noreferrer"
            >
              <button class="btn btn-primary">BOOK NOW</button>
            </a>
          </>
        )
      }
    </div>
  </div>
</section>
